<div>
  <h2 id="page-heading" data-cy="BookCopyHeading">
    <span jhiTranslate="libraryManagementApp.bookCopy.home.title">Book Copies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="libraryManagementApp.bookCopy.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book-copy"
        [routerLink]="['/book-copy/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="libraryManagementApp.bookCopy.home.createLabel">Create a new Book Copy</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (bookCopies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="libraryManagementApp.bookCopy.home.notFound">No Book Copies found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="barcode">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.bookCopy.barcode">Barcode</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="shelfLocation">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.bookCopy.shelfLocation">Shelf Location</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="acquisitionDate">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.bookCopy.acquisitionDate">Acquisition Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.bookCopy.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="book.title">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.bookCopy.book">Book</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bookCopy of bookCopies(); track trackId(bookCopy)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book-copy', bookCopy.id, 'view']">{{ bookCopy.id }}</a>
              </td>
              <td>{{ bookCopy.barcode }}</td>
              <td>{{ bookCopy.shelfLocation }}</td>
              <td>{{ bookCopy.acquisitionDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'libraryManagementApp.BookCopyStatus.' + (bookCopy.status ?? 'null')">
                {{
                  {
                    null: '',
                    AVAILABLE: 'AVAILABLE',
                    LOANED: 'LOANED',
                    RESERVED: 'RESERVED',
                    LOST: 'LOST',
                    DAMAGED: 'DAMAGED',
                    REPAIR: 'REPAIR',
                  }[bookCopy.status ?? 'null']
                }}
              </td>
              <td>
                @if (bookCopy.book) {
                  <div>
                    <a [routerLink]="['/book', bookCopy.book.id, 'view']">{{ bookCopy.book.title }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book-copy', bookCopy.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/book-copy', bookCopy.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bookCopy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (bookCopies().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
