<div>
  <h2 id="page-heading" data-cy="ReservationHeading">
    <span jhiTranslate="libraryManagementApp.reservation.home.title">Reservations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="libraryManagementApp.reservation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reservation"
        [routerLink]="['/reservation/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="libraryManagementApp.reservation.home.createLabel">Create a new Reservation</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (reservations().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="libraryManagementApp.reservation.home.notFound">No Reservations found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="reservationDate">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.reservationDate">Reservation Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="expirationDate">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.expirationDate">Expiration Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="queuePosition">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.queuePosition">Queue Position</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="member.membershipNumber">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.member">Member</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="book.title">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.reservation.book">Book</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reservation of reservations(); track trackId(reservation)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
              </td>
              <td>{{ reservation.reservationDate | formatMediumDatetime }}</td>
              <td>{{ reservation.expirationDate | formatMediumDatetime }}</td>
              <td>{{ reservation.queuePosition }}</td>
              <td [jhiTranslate]="'libraryManagementApp.ReservationStatus.' + (reservation.status ?? 'null')">
                {{
                  { null: '', PENDING: 'PENDING', READY: 'READY', CANCELLED: 'CANCELLED', EXPIRED: 'EXPIRED', COMPLETED: 'COMPLETED' }[
                    reservation.status ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (reservation.member) {
                  <div>
                    <a [routerLink]="['/library-member', reservation.member.id, 'view']">{{ reservation.member.membershipNumber }}</a>
                  </div>
                }
              </td>
              <td>
                @if (reservation.book) {
                  <div>
                    <a [routerLink]="['/book', reservation.book.id, 'view']">{{ reservation.book.title }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/reservation', reservation.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/reservation', reservation.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (reservations().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
