<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading" jhiTranslate="libraryManagementApp.book.home.createOrEditLabel">
        Create or edit a Book
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let isbnRef = editForm.get('isbn')!;
        <div class="mb-3">
          <label class="form-label" for="field_isbn" jhiTranslate="libraryManagementApp.book.isbn">Isbn</label>
          <input type="text" class="form-control" name="isbn" id="field_isbn" data-cy="isbn" formControlName="isbn" />
          @if (isbnRef.invalid && (isbnRef.dirty || isbnRef.touched)) {
            <div>
              @if (editForm.get('isbn')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="libraryManagementApp.book.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let authorRef = editForm.get('author')!;
        <div class="mb-3">
          <label class="form-label" for="field_author" jhiTranslate="libraryManagementApp.book.author">Author</label>
          <input type="text" class="form-control" name="author" id="field_author" data-cy="author" formControlName="author" />
          @if (authorRef.invalid && (authorRef.dirty || authorRef.touched)) {
            <div>
              @if (editForm.get('author')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publisher" jhiTranslate="libraryManagementApp.book.publisher">Publisher</label>
          <input type="text" class="form-control" name="publisher" id="field_publisher" data-cy="publisher" formControlName="publisher" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publicationDate" jhiTranslate="libraryManagementApp.book.publicationDate"
            >Publication Date</label
          >
          <div class="input-group">
            <input
              id="field_publicationDate"
              data-cy="publicationDate"
              type="text"
              class="form-control"
              name="publicationDate"
              ngbDatepicker
              #publicationDateDp="ngbDatepicker"
              formControlName="publicationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="publicationDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_language" jhiTranslate="libraryManagementApp.book.language">Language</label>
          <input type="text" class="form-control" name="language" id="field_language" data-cy="language" formControlName="language" />
        </div>

        @let pagesRef = editForm.get('pages')!;
        <div class="mb-3">
          <label class="form-label" for="field_pages" jhiTranslate="libraryManagementApp.book.pages">Pages</label>
          <input type="number" class="form-control" name="pages" id="field_pages" data-cy="pages" formControlName="pages" />
          @if (pagesRef.invalid && (pagesRef.dirty || pagesRef.touched)) {
            <div>
              @if (editForm.get('pages')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >This field should be at least 1.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('pages')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="libraryManagementApp.book.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_coverImage" jhiTranslate="libraryManagementApp.book.coverImage">Cover Image</label>
          <input
            type="text"
            class="form-control"
            name="coverImage"
            id="field_coverImage"
            data-cy="coverImage"
            formControlName="coverImage"
          />
        </div>

        @let availableForLoanRef = editForm.get('availableForLoan')!;
        <div class="mb-3">
          <label class="form-label" for="field_availableForLoan" jhiTranslate="libraryManagementApp.book.availableForLoan"
            >Available For Loan</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="availableForLoan"
            id="field_availableForLoan"
            data-cy="availableForLoan"
            formControlName="availableForLoan"
          />
          @if (availableForLoanRef.invalid && (availableForLoanRef.dirty || availableForLoanRef.touched)) {
            <div>
              @if (editForm.get('availableForLoan')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_category" jhiTranslate="libraryManagementApp.book.category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            @for (categoryOption of categoriesSharedCollection(); track $index) {
              <option [ngValue]="categoryOption">{{ categoryOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
