<div>
  <h2 id="page-heading" data-cy="LibraryMemberHeading">
    <span jhiTranslate="libraryManagementApp.libraryMember.home.title">Library Members</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="libraryManagementApp.libraryMember.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-library-member"
        [routerLink]="['/library-member/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="libraryManagementApp.libraryMember.home.createLabel">Create a new Library Member</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (libraryMembers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="libraryManagementApp.libraryMember.home.notFound">No Library Members found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="membershipNumber">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.membershipNumber">Membership Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="birthDate">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.address">Address</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="registrationDate">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.registrationDate">Registration Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="internalUser.login">
              <div class="d-flex">
                <span jhiTranslate="libraryManagementApp.libraryMember.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (libraryMember of libraryMembers(); track trackId(libraryMember)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/library-member', libraryMember.id, 'view']">{{ libraryMember.id }}</a>
              </td>
              <td>{{ libraryMember.membershipNumber }}</td>
              <td>{{ libraryMember.phoneNumber }}</td>
              <td>{{ libraryMember.birthDate | formatMediumDate }}</td>
              <td>{{ libraryMember.address }}</td>
              <td>{{ libraryMember.registrationDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'libraryManagementApp.LibraryMemberStatus.' + (libraryMember.status ?? 'null')">
                {{ { null: '', ACTIVE: 'ACTIVE', BLOCKED: 'BLOCKED', SUSPENDED: 'SUSPENDED' }[libraryMember.status ?? 'null'] }}
              </td>
              <td>
                {{ libraryMember.internalUser?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/library-member', libraryMember.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/library-member', libraryMember.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(libraryMember)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (libraryMembers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
