<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review(); as reviewRef) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="libraryManagementApp.review.detail.title">Review</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reviewRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="libraryManagementApp.review.rating">Rating</span></dt>
          <dd>
            <span>{{ reviewRef.rating }}</span>
          </dd>
          <dt><span jhiTranslate="libraryManagementApp.review.comment">Comment</span></dt>
          <dd>
            <span>{{ reviewRef.comment }}</span>
          </dd>
          <dt><span jhiTranslate="libraryManagementApp.review.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ reviewRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="libraryManagementApp.review.member">Member</span></dt>
          <dd>
            @if (review()!.member) {
              <div>
                <a [routerLink]="['/library-member', review()!.member?.id, 'view']">{{ reviewRef.member?.membershipNumber }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="libraryManagementApp.review.book">Book</span></dt>
          <dd>
            @if (review()!.book) {
              <div>
                <a [routerLink]="['/book', review()!.book?.id, 'view']">{{ reviewRef.book?.title }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/review', reviewRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
