<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-loan-heading" data-cy="LoanCreateUpdateHeading" jhiTranslate="libraryManagementApp.loan.home.createOrEditLabel">
        Create or edit a Loan
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let loanDateRef = editForm.get('loanDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_loanDate" jhiTranslate="libraryManagementApp.loan.loanDate">Loan Date</label>
          <div class="d-flex">
            <input
              id="field_loanDate"
              data-cy="loanDate"
              type="datetime-local"
              class="form-control"
              name="loanDate"
              formControlName="loanDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (loanDateRef.invalid && (loanDateRef.dirty || loanDateRef.touched)) {
            <div>
              @if (editForm.get('loanDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('loanDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let dueDateRef = editForm.get('dueDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="libraryManagementApp.loan.dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dueDateRef.invalid && (dueDateRef.dirty || dueDateRef.touched)) {
            <div>
              @if (editForm.get('dueDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dueDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnDate" jhiTranslate="libraryManagementApp.loan.returnDate">Return Date</label>
          <div class="d-flex">
            <input
              id="field_returnDate"
              data-cy="returnDate"
              type="datetime-local"
              class="form-control"
              name="returnDate"
              formControlName="returnDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let renewalsRef = editForm.get('renewals')!;
        <div class="mb-3">
          <label class="form-label" for="field_renewals" jhiTranslate="libraryManagementApp.loan.renewals">Renewals</label>
          <input type="number" class="form-control" name="renewals" id="field_renewals" data-cy="renewals" formControlName="renewals" />
          @if (renewalsRef.invalid && (renewalsRef.dirty || renewalsRef.touched)) {
            <div>
              @if (editForm.get('renewals')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('renewals')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let notesRef = editForm.get('notes')!;
        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="libraryManagementApp.loan.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          @if (notesRef.invalid && (notesRef.dirty || notesRef.touched)) {
            <div>
              @if (editForm.get('notes')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >This field cannot be longer than 500 characters.</small
                >
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="libraryManagementApp.loan.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'libraryManagementApp.LoanStatus.null' | translate }}</option>
            @for (loanStatus of loanStatusValues; track $index) {
              <option [value]="loanStatus">{{ 'libraryManagementApp.LoanStatus.' + loanStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member" jhiTranslate="libraryManagementApp.loan.member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareLibraryMember"
          >
            <option [ngValue]="null"></option>
            @for (libraryMemberOption of libraryMembersSharedCollection(); track $index) {
              <option [ngValue]="libraryMemberOption">{{ libraryMemberOption.membershipNumber }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bookCopy" jhiTranslate="libraryManagementApp.loan.bookCopy">Book Copy</label>
          <select
            class="form-control"
            id="field_bookCopy"
            data-cy="bookCopy"
            name="bookCopy"
            formControlName="bookCopy"
            [compareWith]="compareBookCopy"
          >
            <option [ngValue]="null"></option>
            @for (bookCopyOption of bookCopiesSharedCollection(); track $index) {
              <option [ngValue]="bookCopyOption">{{ bookCopyOption.barcode }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
